<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mobifreaks Classic - Iphone | Android | High End Touch</title>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<meta http-equiv="keywords" content="free mobile website templates, free mobile website template, free iphone template, free android template, free high end touch mobile templates" />
<meta http-equiv="description" content="Get free mobile templates for Iphone , Android and High end touch mobile devices" />
<link href="css/style.css"rel="stylesheet" type="text/css" />
<script src="jquery-2.0.3.js"></script>
<script src="index-page.js"></script>
</head>

<body>
<!--<div class="logo"><h1><a href="index.html"><img src="images/logo.gif" alt="logo" /></a></h1></div>-->
<div class="menu">
    <a id="allUp">All Up</a>
    <a id="allFeet">All Feet</a>
    <a id="allFlat">All Flat</a>
    <a id="sofa1Up">Sofa 1 Up</a>
    <a id="sofa1Feet">Sofa 1 Feet</a>
    <a id="sofa1Flat">Sofa 1 Flat</a>
    <a id="sofa2Up">Sofa 2 Up</a>
    <a id="sofa2Feet">Sofa 2 Feet</a>
    <a id="sofa2Flat">Sofa 2 Flat</a>
    <a id="sofa3Up">Sofa 3 Up</a>
    <a id="sofa3Feet">Sofa 3 Feet</a>
    <a id="sofa3Flat">Sofa 3 Flat</a>
</div>
</body>
</html>
